@media screen and(min-width:1180px) {
  /* ヘルパークラス */
  .hp_pc-br {
    display: none;
  }
}

/*--------------------------------
タブレット
--------------------------------*/
@media screen and(max-width:959px) {
  .hum_btn {
    display: block;
  }
  header {
    nav {
      display: none;
    }
  }

  .space {
    flex: 0.5;
  }
  /* ヘルパークラス */
  .hp_br-tb {
    display: block;
  }
  .hp_br-pc {
    display: none;
  }
  .hp_column_tb {
    flex-direction: column !important;
  }
  .hp_column_tb-reverse {
    flex-direction: column-reverse !important;
  }
  .hp_mtLg {
    margin-top: 80px;
  }
  .hp_mbLg {
    margin-bottom: 80px;
  }
  .hp_mtMd {
    margin-top: 50px;
  }
  .hp_mbMd {
    margin-bottom: 50px;
  }
  .hp_mtSm {
    margin-top: 20px;
  }
  .hp_mbSm {
    margin-bottom: 20px;
  }
  .hp_ptLg {
    padding-top: 160px;
  }
  .hp_pbLg {
    padding-bottom: 160px;
  }
  .hp_ptMd {
    padding-top: 50px;
  }
  .hp_pbMd {
    padding-bottom: 50px;
  }
  .hp_ptSm {
    padding-top: 20px;
  }
  .hp_pbSm {
    padding-bottom: 20px;
  }
}
@media screen and(max-width:768px) {
  .hp_column_sp {
    flex-direction: column !important;
  }
}

/*--------------------------------
スマホ
--------------------------------*/
@media screen and(max-width:519px) {
  body {
    line-height: 1.6;
    font-size: 1.3rem;
  }
  .hum_btn {
    right: 0px;
  }
  header {
    .el_logo {
      width: 150px;
      top: 35px;
      left: 20px;
    }
    .el_logo_white {
      width: 150px;
      top: 35px;
      left: 20px;
    }

    .el_summary_txt {
      font-size: 1rem;
      left: 19px;
      top: 15px;
    }
    .header__lines {
      position: fixed;
      top: 35px;
      left: 20px;
      bottom: 35px;
      right: 20px;
    }
    .c-scrolldown {
      left: 30px;
      top: 70vh;
    }
    .el_copyRight {
      right: -100px;
    }
    .el_info {
      right: 25px;
      flex-direction: column;
      bottom: 120px;
      &.none {
        bottom: 40px;
      }
    }
    .bl_newsbox {
      right: 20px;
      bottom: 35px;
    }
  }
  .ly_section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .bl_drawer {
    width: 100%;
  }
  .bl_drawerBtn {
    left: -180px;
    top: 20px;
  }
  .ly_fv {
    img {
      top: 42%;
    }
    .fv_copy{
      font-size: 2rem;
    }
  }
  .bl_section {
    &_ttl {
      font-size: 4rem;
    }
    &_header {
      font-size: 2rem;
    }
    &_wrapper {
      width: 90%;
    }
    &_img {
      margin-right: 0;
      text-align: left;
      width: 100%;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
  }
  #splash-logo {
    width: 100px;
  }

  /* ヘルパークラス */
  .hp_br-sp {
    display: block;
  }

  .hp_column_sp {
    flex-direction: column !important;
  }
  .hp_column_sp-reverse {
    flex-direction: column-reverse !important;
  }

  .hp_mtLg {
    margin-top: 60px;
  }
  .hp_mbLg {
    margin-bottom: 60px;
  }
  .hp_mtMd {
    margin-top: 40px;
  }
  .hp_mbMd {
    margin-bottom: 40px;
  }
  .hp_mtSm {
    margin-top: 15px;
  }
  .hp_mbSm {
    margin-bottom: 15px;
  }

  .hp_ptLg {
    padding-top: 100px;
  }
  .hp_pbLg {
    padding-bottom: 100px;
  }
  .hp_ptMd {
    padding-top: 40px;
  }
  .hp_pbMd {
    padding-bottom: 40px;
  }
  .hp_ptSm {
    padding-top: 15px;
  }
  .hp_pbSm {
    padding-bottom: 15px;
  }
}
@media screen and(max-width:380px) {
  body {
    line-height: 1.5;
  }
  .bl_drawerBtn {
    left: -220px;
    top: 20px;
  }
  .bl_section_img {
    img {
      height: 150px;
    }
  }
}
